
$primary-color: #59C9A5;
$secondary-color: #D0EFB1;
$dark-color: #465775;
$light-color: #D8D8F6;
$sucess-color: #56E39F;
$warning-color: #66758c;
$error-color: #EF6F6C;

@import "node_modules/spectre.css/src/spectre";
