

$primary-color: #F18F01;//#59C9A5;
$secondary-color: #FFC53A;//#8EA8C3;
$dark-color: #141414;
$light-color: #EAEAEA;


// $primary-color: #465775;//#59C9A5;
// $secondary-color: #BBBBBF;//#8EA8C3;
// $dark-color: #465775;
// $light-color: #F7F5FB;
$sucess-color: #56E39F;
$warning-color: #66758c;
$error-color: #EF6F6C;
$base-font-family: "Muli";//, Helvetica, sans-serif;
$mono-font-family: "Muli";//, Helvetica, sans-serif;
@import "node_modules/spectre.css/src/spectre";

@font-face {
  font-family: 'Muli';
  src: url("./src/assets/Muli-Regular.ttf") format("truetype");
}
