.title {
  font-size: 2.5rem;
  font-weight: 550;
  text-shadow: 2px 2px 10px rgba(192,253,251,0.7);
  animation: title 1.2s linear;
}

.subtitle {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 250;
  color: #A3A9AA;
  animation: title 1.2s linear;

}

p {
    margin: 0 0 .1rem;
}

@keyframes title {
  0% {
    opacity: 0;
    //transform: translateX(-100%);
  }
  25% {
    opacity: 0.25;
  }
  50% {
  opacity: 0.5;
  //transform: translateX(50%);
  }
  75%{
    opacity: 0.75;
  }
  100% {
    //transform: translateX(0);
  }
}
