.margin-2em {
  margin-top: 2rem;
}


.timer {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAA+VBMVEUAAABGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3WfWAZNAAAAUnRSTlMAAQIDBAUGCAkLDA0PEBITHB4iLTM0Njc5Oz4/QEFCQ0lMTV1eX2FiY2Rmb3F4fn+Di4yRlJWXoqOlpqutsrq+wM7P2dre4OLk6evt7/P19/n93N28cgAAAR5JREFUGBltwYlWUlEAQNHDxeccmpZhmVMImlaWVjhkOYAJIXT+/2N0PV2u+3x3bx5UGh0LOh8oaFnSIHZtSZeYCcRUClRiPR0nkmmP2L5+J/JDvxKbU1s8aanzFHxS6zxaUX9SFM51OEPuxX8dTvLM7FB/k/ujrlGypG5yb1Vtk/BZB1UIfb0cIyFc6Qqs6e0sSYt6BCf6nrSgffinVdKC9qCvgbR1PYK2viKpNtK38E6vAglZR28CVAe6T8Kxusy9DbVOybr6i9yZjmo8MzXS0RS56aFeBIqO1Tpk7dNJeKPuUfBSbcLCXx28hi21RuybHkLD3C4c6Bdifc346KMdMr0hpjLhk3FUYiYQu7akS2zbkiaxSrNrQXerQu4OP7Bv1ro2EvgAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: center;
}

.chart {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAABGV3UE5QadAAAAAXRSTlMAQObYZgAAACNJREFUCFtjYMACDiATH6AEPzbCBoM4fJ44AmHHfyCAEFgAAFyuMzEk/NL/AAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
}

.pen {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAABAlBMVEUAAABGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3UR25C3AAAAVXRSTlMAAQIDBAUGBwgKCwwPERIXGxwgIiUqLTE1Njo7PkBERUdNUFJUVVZZXF1jZGxtb3BxdHh8fn+Cg4WGiIuOkpeYmpudqKqwt7zAwcjc4uTm6Ovt7/n9ajigqAAAAQ9JREFUOMu90tdSwlAYReF9oiJqYkFRUREb9gqKsVEssYKN9f6v4gXCBPy9ZV+dyfomk5kTqU9zXnyup8480LPm3aDkCi+zkqQ8f1d28u6BjKQp2Ep63RuWlHwFmJdu2LU+alEjbwDTesc3+i3bGmsABUHC6s+syf+AlAVcjWwacgo+52QAVyOb+gYWNCADuOpvh1EZINaXZABX6fScDBDrqzKAq/CUbvW8DODKndvYkQFcmdP1Vt+TBc4IpQ2AfZkgQpI24UTyH00QLkslipKrYwJCXXAuaYh/AHClblAnaB9LURRFRUmSz1f7acix8UcdUGkfgyZHQaJ7wSFMdnAGayux141f1ntq43pCfdwPB1Bdanpj6esAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: center;
}

.easy {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAllBMVEUAAABGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VGV3VM/uuzAAAAMXRSTlMAAQIDBAUGBwgJDBAZHyYoNjk7PENSXV9hZ2l7i4+RnaawwcPFx8jKzM7P4OTo7/v9tBiopwAAAK5JREFUOE+t0ucOgjAUhuEPKg7ciuJAcODAgZ77vzkpI0FtOTH6/WryvD/apMD3s2zGo2tlYZ2IzlV+pGQNvR+k3w2d11Knjdb3qZOr8zBz6mt8lzs1lS62hd+UDq9wuizyzcfJc+ptOcB4kGKhATc9CAiVEw25YMoF7s+BwwU2EwRggi4TRGCCERPEJhPMwAQtJlihHCD+CDqvgfPu6+wjDXw5ed3e0i/Nm5j4z56+SGVKsAde9QAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: center;
}

.icon {
  height: 2em;
  width: 2em;
}

.benefit {
  //margin: auto;
}

.test {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAACXlBMVEVHcExOerRSebpOerVOerWAgIBNerVOerVOerVOerVVgKpOerVOe7VOerZOerVOerVQgK9NfbhPebdNe7V2iqd4i5tOerVOerVOerZOebROerVNerZPfbVOebVNerVOebVJerZTfLNNerVNe7ZVVapOerVLfLROerZ4i5xOebZLerRNerNPerVOerVOerROebVOerVOerVOebVOerVNebVPe7ROerVPebVQfLh4i5xOerV4i5t4i5xOebR7jZ53i5wAAP94i5xNerVOerVOerVOerVOerZOerVOerVOerVOe7VOerVOerVOerVPebROerZMd7NOerROebROe7VAgL9OerVMe7NPebZPebRQerVOerROe7ROerV4i5tOerVOerZNebRLeLROerdNeLdPerVOerVPe7VOerZ4i5xPerROerR3iJl4i5xOdrF4i5x3i5xNe7WAgJlNebV7jqFRfbp3ipx5i515jZ15jJl4i5x4ip14i5x5i5t5jJx5i5x4i513jp9xjpxmZsx5jJ54jJt4jJyLt/BOerV4i5yJte6ItO5Oe7WKte+Ktu+Fsep0oNqCruhOerZRfbhdiMKFsOpsmNJnk81wnNdplc9Pe7ZQfLZQfLd4pN51ottkj8prl9Fah8GKtvB/quSHs+x9quOItO14pN1ch8J5pd9Tf7p7p+F1odtYhL+BreaEsepgjMZqldCBredXg756puBPe7WAreZah8KDr+h5pt9qls9jj8polM9nlM5UgbtTfrqDsOlijceKtu5hjchwndZlkctzn9lcicNeicR/q+V3pN5Al0aMAAAAhnRSTlMA8w75/ALW/YD6BtfMTPjyECtKtgj27trl1P6yFnhSpgoSnPcDSCCqxGEsMqzq2+nLdZPecyiiM/71Wa7bpA5oAfrJ6PRFfeK0ionA2cd+mS/DX2gIbxsqPTBBZsVC3adjIi41ld9ursZ7lh7hDdneTwqpG/68cE4o/mC5bl2lvS0SBSpZqBbqda8AAAL9SURBVFjD3dh1U1RRGAbwBRaWRbpLSkBaQDoExO5usbuxu+9zdpcFdulOSVFa0sL8Vg7D6DDMxnt3zx/q8wF+c0/c95z3SCT/fiwd1rt5ecrlnpvWbXCwNFcLDfCTY16s/AJCzeCsjxYANWUVHX1tRUVtAx0VZTVAXKS1qV6qPTBYVSzMS/HMIBAfbRKXmyDHdINaWBB1wzSsknLFe3bZUE0qBR1RTqmQ8ky054a6ekFPfmrhZidyOZaiu1XQm9b3KBS3NLbQGvAE4ccNnBPjHZBphgSDGdNI99G9XV6oEIykCTb0aVyM15+MgYpBJFG9oFgMCUYzhvwgIrgTnQIhozhIBOPRSwFLcIjmhUOroIAKLfaQwEh8FEh5ix0kMARVNHAGW0ngdvTQwB5sJIHeKKeBH7CWBFpASQNfwYkESqGmgWpISeAq3l+YT53DcniTQHu008B2rCSBhbQ/b/bfCyRW634aWI01JDAMZTSwE6tJYLBvHa041MqcJcRV6aKAXdhMPvIqKWAlthDBaHQXGfeKurGNeqj4UMZcDx8Rp95nSnlNIIP+jpp3xrxSjaM//aRPQbUxcBIhIq4i+33rjBSINzWyKDGXmxhMGdszR0Tdvlykqj5D3oBKmizugnge31oMgN+RKPIGGxyLr4YK1zJnkaAkA2l6t05pGjLE39oDMaqn6CiakW1CW+FcgEad09gygTiTWjQXJzTpAvvhlCwxKa5WusRxWIWZ2pu5OqJxwTwqvkB+1fTu0cECzSPzvZFmOLma094eP4Xh8T/tY3H1MJZHScyK5UkZahtLSpXK0t6JGsgSL5nd0Z84I/vdfstiUrk8EhzbbeOowhKb0+Hc3h1sZr9vEb93DJe5Ee/lBtrOgbZ8R8x1zJIIdpjva9BFdoEv6MHc/3Iwiz3hCz5iD/iCL9hjvuCKvLynfMX77CFfMIe95As+Z1l8QXfmwRe8xtL5gnfYFb7gPZbJF8xkOXw3dvrd61zBW+wm3xFfZrf5ghFnrSX/S34B/KqwiBofVzQAAAAASUVORK5CYII=')
}

.border {
  border: 1px solid gray;
  border-radius: 10px;
}

.postit-calcul:hover {
  animation: up .4s ease-out;
}

.postit-dobble:hover {
  animation: up .4s ease-out;
}

@keyframes up {
  25% {
    transform: translateY(.2em);
  }
  100% {
    transform: translateY(0);
  }
}
