<div class="container margin-2em">
  <div class="column ">
    <h4 class="text-center"> Conçu pour les enseignants </h4>
    <div class="column">

      <div class="column col-8 col-ml-auto">
        <p><i class="icon easy mr-2"></i>Un outil clé en main pour... </p>
      </div>

      <div class="column col-8 col-ml-auto">
        <p><i class="icon timer mr-2"></i>Gagner du temps dans vos préparations </p>
      </div>

      <div class="column col-8 col-ml-auto">
        <p><i class="icon chart mr-2"></i>Différencier facilement le travail de vos élèves </p>
      </div>

      <div class="column col-8 col-ml-auto">
        <p><i class="icon pen mr-2"></i>Générer des fiches personnalisées </p>
      </div>
    </div>

    <div class="columns p-2">
      <div class="column col-2 m-2"></div>

      <div class="column col-4  border m-2 text-center postit-calcul">
        <i class="icon easy m-2"></i>
        <h5> <strong>Feuille de calcul</strong> </h5>
        <p class="pt-2"> Générez vos feuilles de calcul en quelques clics.</p>
        <button class="m-2 btn btn-secondary"> Learn more </button>
      </div>

      <div class="column col-4 border m-2 text-center postit-dobble">
        <i class="icon easy m-2"></i>
        <h5> <strong>Dobble</strong> </h5>
        <p class="pt-2"> Générez votre dobble avec vos propres images.</p>
        <button class="m-2 btn btn-secondary"> Learn more </button>
      </div>

      <div class="column col-2 m-2"></div>
    </div>

  </div>
</div>
