<div class="container margin-2em animation">
  <div class="column ">
    <h4 class="text-center pb-2"> Conçu pour les enseignants </h4>
    <div class="column">

      <div class="column col-8 col-ml-auto">
        <!-- <i class="icon easy mr-2"></i> -->
        <p><fa class="mr-2" name="heart" size="2x"></fa> Un outil clé en main pour... </p>
      </div>

      <div class="column col-8 col-ml-auto">
        <p><fa class="mr-2" name="hourglass" size="2x"></fa>Gagner du temps dans vos préparations </p>
      </div>

      <div class="column col-8 col-ml-auto">
        <p><fa class="mr-2" name="bar-chart" size="2x"></fa>Différencier facilement le travail de vos élèves </p>
      </div>

      <div class="column col-8 col-ml-auto">
        <p><fa class="mr-2" name="pencil" size="2x"></fa> Générer des fiches personnalisées </p>
      </div>
    </div>

    <div class="columns p-2">
      <!-- <div class="column col-2 m-2"></div> -->

      <div class="column col-5 col-mx-auto border text-center postit-calcul">
        <!-- <i class="icon calcul m-2"></i> -->
        <p class="m-2"><fa name="calculator" size="2x"></fa></p>
        <h5> <strong>Feuille de calcul</strong> </h5>
        <p class="pt-2"> Générez vos feuilles de calcul en quelques clics.</p>
        <button class="m-2 btn btn-primary" (click)="navigate('calcul')"> En savoir plus ! </button>
      </div>

      <div class="column col-5 col-mx-auto border text-center postit-dobble">
        <p class="m-2"><fa name="gamepad" size="2x"></fa></p>
        <h5> <strong>Jeu type "Dobble"</strong> </h5>
        <p class="pt-2"> Générez votre jeu de carte avec vos propres images.</p>
        <button class="m-2 btn btn-primary"> En savoir plus ! </button>
      </div>

      <!-- <div class="column col-2 m-2"></div> -->
    </div>

    <div class="column col-8 col-mx-auto text-center pt-2">
      <button class=" btn btn-primary" (click)="navigate('contact')"> Contactez nous ! </button>
    </div>

  </div>
</div>
