

.hg-100 {
    height: 100vh;
}

.hg-20 {
  height: 20vh;
}

.hg-5 {
  height: 5vh;
}

.hg-70 {
  height: 65%;
}

.navigation {
  border-right: .2rem solid #FFC53A;
  min-width: 80px;
  max-width: 80px;
  animation: icon .7s ease;
}



@keyframes icon {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
