// @import "node_modules/spectre.css/src/spectre";


.home {
    cursor: pointer;
  // background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAA81BMVEUAAAC7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+nUzMLAAAAUHRSTlMAAQIDBAUGBwgJCgwNDxITFBUWFxgbHB4jJTA2Nzg/QEJFTlBdZmdpbHB1d4WIj5GSmpueo6i0ubq+wMHDxcfIzM/R0+Lk5ujr7fHz9fn7/XDmJrgAAAD9SURBVDiNzZBrMwJxGEd/u21Xl8oSIrkkYl0TEirphvZ/vv+n8UJRszvGK9N5e87M75lH+neWliVJsUwmkwrR9jlUI5JugY+gTzwCtFJSHSDgV/tgDAxz4UHBwGAtNwCz8xASHAHNZCSSbDJm9rwqcGUvvrQX7OuQINUCDrX5Dm8bKgeC9SH42zr4Evsq+LPBLtBzrbPJuGe5PWBv4k+ARjx+zzd3sUQDOJUkOTXgwlrpMsVr1r4Eao4U7QCl8eoP/pZKQCeqaJ9RXscEKCs/outI7lNaN0EPVaWfs+Mzw/zMH/4c1D3P8+q/BEVJKs5pYMICMxVUTDAwFc0Ln7LLg6lbLHPEAAAAAElFTkSuQmCC");
  // background-repeat: no-repeat;
  // background-position: center;
}

.home:hover {
  color: #FFC53A;
  animation: zoom .5s infinite ease-out;
}

.calcul {
  cursor: pointer;
  // background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAq1BMVEUAAAC7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u78BQ6NOAAAAOHRSTlMAAQQFBgcJCgsNDg8QERIUFRYXGRojJicoKSowMTIzNDU3OFWUm56iuby+wMHDxdfZ3N7m6+3x9XfoAuAAAADqSURBVDjLvZPLUsJAFAV7wpDEEDQERREFUQwSEfEF5/+/zMVUNFZNjC60F3M2velbNZC/qIn9OcBGzewNIE3xk0sWcK+XfxS6bcJN13qZVsI3/FDYDkz2KN33zPBZKt0UQWdZCSPgREqBMylxE0JUCTEQSgaIP6ZecQVcSMfAtZS7SaFfCW+X8eRVejqN5ztpO4rnO6nMsvUfZy6CYOHJHLvMsWTBVkLUljkDJtLwS2Zd8GbWBS+/EsoeyUpaRvQ3UuGmLhwBh1IHyKTATatQv8Mq4eBOKkLStXTr5vOSD21/c9D2u8E2YYB3yypxP8CsRs8AAAAASUVORK5CYII=");
  // background-repeat: no-repeat;
  // background-position: center;
}

.calcul:hover {
  color: #FFC53A;
  animation: zoom .5s infinite ease-out;
}

.gamepad {
    cursor: pointer;
  // background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAGFBMVEUAAAC7u7+7u7+7u7+7u7+7u7+7u7+7u79xaZ3uAAAAB3RSTlMACl+OkareimgpWwAAAHFJREFUKJFjYAABplAgUGBAAJZyIHCguwAzSMAASYAxvby8TABJgEGsvDwRylRxcXExBCoBKhAGMp0YwsvBqsUSwfrKS8ECQOWMAiBtcAGQgWAFMAGQiWAFOAUwtKAbimIthsMwnI7dcxjeH6BoQEoOAC7QXHEjJ9FCAAAAAElFTkSuQmCC");
  // background-repeat: no-repeat;
  // background-position: center;
}

.gamepad:hover {
  color: #FFC53A;
  animation: zoom .5s infinite ease-out;
}

label {
  text-shadow: 0px 0px 1px rgba(192,253,251,.1);
  font-size: .7rem;
}

.icon {
  height: 2.2em;
  width: 2.2em;
  cursor: pointer;
}

.icon-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-margin {
  //margin-top: 3rem;
}

@keyframes zoom {
  25% {
    transform: translateY(.2em);
  }
  100% {
    transform: translateY(0);
  }
}
