<div class="icon-center">
  <div class="text-center p-2 icon-margin">
    <fa class="home" name="home" size="2x" id="home-menu" (click)="goHome()"></fa>
    <!-- <i class="icon home" id="calcul-menu" (click)="goHome()"></i> -->
    <label class="text-secondary" for="home-menu"> Accueil </label>
  </div>
  <div class="text-center p-2 icon-margin">
    <fa class="calcul" name="calculator" size="2x" id="calcul-menu"></fa>
    <!-- <i class="icon calcul" id="calcul-menu"></i> -->
    <label class="text-secondary" for="calcul-menu"> Calcul </label>
  </div>
  <div class="text-center p-2 icon-margin">
    <!-- <i class="icon gamepad" id="gamepad-menu"></i> -->
    <fa class="gamepad" name="gamepad" size="2x" id="calcul-menu"></fa>
    <label class="text-secondary" for="gamepad-menu"> Jeu type Dobble </label>
  </div>
</div>
