<div class="icon-center">
  <div class="text-center p-2 icon-margin">
    <i class="icon home" id="calcul-menu" (click)="goHome()"></i>
    <label class="text-secondary" for="calcul-menu"> Accueil </label>
  </div>
  <div class="text-center p-2 icon-margin">
    <i class="icon calcul" id="calcul-menu"></i>
    <label class="text-secondary" for="calcul-menu"> Calcul </label>
  </div>
  <div class="text-center p-2 icon-margin">
    <i class="icon gamepad" id="gamepad-menu"></i>
    <label class="text-secondary" for="gamepad-menu"> Dobble </label>
  </div>
</div>
