div {
    animation: icon .7s ease;
}

.calcul {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAq1BMVEUAAAC7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u7+7u78BQ6NOAAAAOHRSTlMAAQQFBgcJCgsNDg8QERIUFRYXGRojJicoKSowMTIzNDU3OFWUm56iuby+wMHDxdfZ3N7m6+3x9XfoAuAAAADqSURBVDjLvZPLUsJAFAV7wpDEEDQERREFUQwSEfEF5/+/zMVUNFZNjC60F3M2velbNZC/qIn9OcBGzewNIE3xk0sWcK+XfxS6bcJN13qZVsI3/FDYDkz2KN33zPBZKt0UQWdZCSPgREqBMylxE0JUCTEQSgaIP6ZecQVcSMfAtZS7SaFfCW+X8eRVejqN5ztpO4rnO6nMsvUfZy6CYOHJHLvMsWTBVkLUljkDJtLwS2Zd8GbWBS+/EsoeyUpaRvQ3UuGmLhwBh1IHyKTATatQv8Mq4eBOKkLStXTr5vOSD21/c9D2u8E2YYB3yypxP8CsRs8AAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: center;

}

.calcul:hover {
  animation: zoom .1s linear;
}

.gamepad {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAGFBMVEUAAAC7u7+7u7+7u7+7u7+7u7+7u7+7u79xaZ3uAAAAB3RSTlMACl+OkareimgpWwAAAHFJREFUKJFjYAABplAgUGBAAJZyIHCguwAzSMAASYAxvby8TABJgEGsvDwRylRxcXExBCoBKhAGMp0YwsvBqsUSwfrKS8ECQOWMAiBtcAGQgWAFMAGQiWAFOAUwtKAbimIthsMwnI7dcxjeH6BoQEoOAC7QXHEjJ9FCAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
}

.gamepad:hover {
  animation: zoom .1s linear;
}

label {
  text-shadow: 0px 0px 1px rgba(192,253,251,.1);
  font-size: .7rem;
}

.icon {
  height: 2.2em;
  width: 2.2em;
  cursor: pointer;
}

.icon-margin {
  margin-top: 3rem;
}

@keyframes zoom {
  25% {
    transform: translateY(.4em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes icon {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
